body{
    margin: 0;
}
ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
ul.topnav li{
    /* display: inline; */
    float: left;
    /*border-right: 1px solid #ddd; */
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
ul.topnav .right{
    float: right;
}
ul.topnav li a:hover:not(.active){
    background-color: #111;
}
ul.topnav li a.active {
    background-color: #04AA6D;
}
li:last-child {
    border-right: none;
}
.content-below-nav{
    margin-top: 45px;
}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li{float: none;}
    .content-below-nav {
        margin-top: 185px; /* Adjust this value as needed */
    }
}
