body {
    overflow: hidden; /* Prevent scrolling */
}
div.background{
    background-image: url('/16.\ Layout\ -\ Float\ and\ Clear/img_forest.jpg');
    border: 2px solid black;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
div.transbox{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    border-radius: 10px;
    height: 200px;
    width: 40%;
    margin:auto;
}
div.transbox p{
    margin: 5%;
    color: black;
}