#para1{
    border: 2px solid black;
}
#para2{
    border-bottom: 2px solid rgb(242, 12, 12);
}
#para3{
    border: 2px solid #f4c0c0;
    border-radius: 10px;
}
#para4{
    background-color: lightblue;
    border-left: 5px solid blue;
}
p{
    padding: 10px;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

p.one {
  border-style: solid dotted double dashed;
  border-width: 25px 10px 4px 35px;
  border-color: red green blue yellow;
}

p.two {
  border-style: solid;
  border-width: medium;
}

p.three {
  border-style: dotted;
  border-width: 2px;
}

p.four {
  border-style: dotted;
  border-width: thick;
}

p.five {
  border-style: double;
  border-width: 15px;
}

p.six {
  border-style: double;
  border-width: thick;
}