*{
    background-color: #ccc;
}
/* Aligning h1 
and p at a time*/
h1,p{
    text-align: center;
}
p{
    color: red;
}
#para1{
    color: hsl(240, 100%, 50%);
}
p.center{
    color: green;
}
p.large{
    color: rgb(249, 5, 168);
}