table{
    width: 50%; /* span half the page */
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}
th{
    height: 30px;
   /* text-align: left; */
}
td{
    text-align: center;
    /*
    height: 50px;
    vertical-align: bottom;
    */
}
th, td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
tr:hover{background-color: coral;}
tr:nth-child(even){background-color: #f2f2f2;}

.container{
    overflow-x: auto;
}